<div class="form-group">
  <%= f.label :images, "画像" %>
  <%= f.file_field :images, accept: "image/*", multiple: true, class: "form-control" %>
</div>

<div class="form-group">
  <%= f.label :title, "イベントタイトル" %>
  <%= f.text_field :title, class: "form-control" %>
</div>

<div class="form-group">
  <%= f.label :start_time, "開始日時" %>
  <%= f.datetime_field :start_time, class: "form-control" %>
</div>

<div class="form-group">
  <%= f.label :end_time, "終了日時" %>
  <%= f.datetime_field :end_time, class: "form-control" %>
</div>

<div class="form-group">
  <%= f.label :body, "イベント内容" %>
  <%= f.text_area :body, rows: 5, class: "form-control" %>
</div>