<h1 class="my-5 d-flex justify-content-center"><i class="fa-solid fa-house mr-1"></i>イベント編集</h1>

<div>
  <% if @event.errors.any? %>
    <%= @event.errors.count %>件のエラーが発生しました
    <ul>
      <% @event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>
</div>

<div class="row">
  <div class="col-md-6 offset-md-3 col-sm-8 offset-sm-2">
    <div class="card card-form">
      <div class="card-body">
        <%= form_with model: @event do |f| %>
          <%= render 'layouts/error_messages', model: f.object %>

          <%= render 'form', f: f %>

          <div class="form-group">
            <%= f.submit '情報更新', class: "btn btn-warning btn-block" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<%= link_to "カレンダーへ", events_path, class: "btn btn-secondary mt-3" %>
<%= link_to "戻る", :back, class: "btn btn-secondary mt-3" %>