<h2 class="mt-4 d-flex justify-content-center">＜イベント詳細＞</h2>

<div class="row">
  <div class="col-md-9">
    <table class="table table-hover table-inverse">
      <tbody>
        <tr>
          <td colspan=2>
            <div class="d-flex justify-content-center">
              <% if @event.images.attached? %>
                <div class="row">
                  <% @event.images.each do |image| %>
                    <div class="col-6 col-sm-4">
                      <%= image_tag image.variant(gravity: :center, resize: "200x200", crop: "120x120+0+0").processed, class: "my-2", style: "width:100%;" %>
                    </div>
                  <% end %>
                </div>
              <% else %>
                <% image_tag 'no_image.jpg', style: "wisdth:100px;" %>
              <% end %>
            </div>
          </td>
        </tr>
        <tr>
          <th>イベント投稿者</th>
          <td><%=link_to @event.member.name, member_path(@event.member) %></td>
        </tr>
        <tr>
          <th>イベントタイトル</th>
          <td><%= @event.title %></td>
        </tr>
        <tr>
          <th>イベント内容</th>
          <td><%= @event.body %></td>
        </tr>
        <tr>
          <th></th>
          <td>
            <%= link_to "編集", edit_event_path(@event.id), class: "btn btn-warning" %> |
            <%= link_to "削除", event_path(@event.id), method: :delete, class: "btn btn-sm btn-danger", "data-confirm" => "本当に削除しますか？" %>
          </td>
        </tr>
      </tbody>
    </table>
    <table class="table table-hover table-inverse">
      <tr>
        <th>頼まれた人</th>
          <td>
            <div>
              <% @event.event_members.each do |event_member| %>
                <div class="d-flex justify-content-between">
                  <span>
                    <%= event_member.member.name ? event_member.member.name : event_member.member.id %>
                  </span>
                  <span>
                    実施
                    <% if event_member.is_done? %>
                      <%= link_to_if (event_member.member == current_member), "済", is_done_event_member_path(event_member), method: :delete, class: "btn btn-secondary" %>
                    <% else %>
                      <%= link_to_if (event_member.member == current_member), "中", is_done_event_member_path(event_member), method: :post, class: "btn btn-warning" %>
                    <% end %>
                  </span>
                  <span>
                    <% if event_member.is_nice? %>
                      <%= link_to_if (@event.member == current_member), "ありがとう", is_nice_event_member_path(event_member), method: :delete, class: "btn btn-secondary" %>
                    <% else %>
                      <%= link_to_if (@event.member == current_member), "待ってます", is_nice_event_member_path(event_member), method: :post, class: "btn btn-warning" %>
                    <% end %>
                  </span>
                </div>
              <% end %>
            </div>
          </td>
        </tr>
        <tr>
          <th>頼みたい人にチェック</th>
          <td>
            <%= form_with model: @event do |f| %>
              <div class="mb-2">
                <%= f.collection_check_boxes :assign_member_ids, current_member.families, :id, :name do |b| %>
                  <%= b.label { b.check_box + ( b.object.name ? b.object.name : b.object.id.to_s ) } %>
                <% end %>
              </div>
              <div class="mb-2">
                <%= f.submit "更新", class: "btn btn-primary" %>
              </div>
            <% end %>
          </td>
        </tr>
    </table>
  </div>
  <div class="col-md-3">
    <div class="mb-4">
      <p>コメント件数：<%= @event.comments.count %></p>
      <% @event.comments.each do |comment| %>
        <div class="d-flex justify-content-between">
          <div class="d-flex justify-content-start align-items-center">
            <span class="mr-2"><%= image_tag comment.member.get_image(50,50) %></span>
            <span><%= comment.member.name %></span>
          </div>
          <div class="d-flex justify-content-start align-items-center">
            <span><%= comment.body %></span>
          </div>

          <div class="d-flex justify-content-end align-items-center ">
            <span class="mr-2"><%= comment.created_at.strftime('%Y/%m/%d') %></span>
            <span><%= link_to "削除", comment_path(comment), method: :delete, class: "btn btn-sm btn-danger" if current_member == comment.member %></span>
          </div>
        </div>
      <% end %>
    </div>
    <div class="mb-4">
      <%= form_with model: [@event, @comment] do |f| %>
        <div class="mb-2">
          <%= f.text_area :body, rows: '3', placeholder: "コメントをここに", class: "form-control" %>
        </div>
        <div class="row">
          <div class="col-md-8 offset-md-2">
            <%= f.submit "送る", class: "btn btn-primary btn-block" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<%= link_to "カレンダーへ", events_path, class: "btn btn-secondary" %>