<h2>メンバー情報編集</h2>

        <%= form_with model: @member, url: member_path(@member.id) do |f| %>

            <h3>名前</h3>
            <%= f.text_field :name %>

             <h3>なまえ</h3>
            <%= f.text_field :name_hiragana %>

            <h3>写真</h3>
            <%= f.file_field :image, accept: "image/*" %>

            <h3>生年月日</h3>
            <%= f.text_field :birthday %>

            <h3>ニックネーム</h3>
            <%= f.text_field :nickname %>

            <h3>血液型</h3>
            <%= f.text_field :blood_type %>

            <h3>担当カラー</h3>
            <%= f.text_field :letter_color %>


            <%= f.submit '情報更新' %>


        <% end %>