<div class="row mt-4">
  <div class="col-md-6 offset-md-3 col-sm-8 offset-sm-2">
    <h1 class="d-flex justify-content-center">メンバー情報編集</h1>

    <div class="card card-form">
      <div class="card-body">
        <%= form_with model: @member do |f| %>
          <%= render 'layouts/error_messages', model: f.object %>

          <div class="form-group">
            <%= f.label :name, "名前" %>
            <%= f.text_field :name, class: "form-control" %>
          </div>

          <div class="form-group">
            <%= f.label :name_hiragana, "なまえ" %>
            <%= f.text_field :name_hiragana, class: "form-control" %>
          </div>

          <div class="form-group">
            <%= f.label :image, "写真" %>
            <%= f.file_field :image, accept: "image/*", class: "form-control" %>
          </div>

          <div class="form-group">
            <%= f.label :birtday, "生年月日" %>
            <%= f.date_field :birthday, class: "form-control" %>
          </div>

          <div class="form-group">
            <%= f.label :nickname, "ニックネーム" %>
            <%= f.text_field :nickname, class: "form-control" %>
          </div>

          <div class="form-group">
            <%= f.label :blood_type, "血液型" %>
            <%= f.collection_select :blood_type, Member.blood_types_i18n, :first, :last, {}, { class: "form-control" } %>
          </div>

          <div class="form-group">
            <%= f.label :letter_color, "担当カラー" %>
            <%= f.color_field :letter_color, class: "form-control" %>
          </div>

          <div class="form-group">
            <%= f.submit '情報更新', class: "btn btn-warning btn-block" %>
          </div>

        <% end %>
      </div>
    </div>
  </div>
</div>

<%= link_to "戻る", members_path %>

