<div class="row">
  <div class="col-md-3">
    <%= image_tag @member.get_image(100, 100) %>
    <%= link_to"メンバー情報編集へ", edit_member_path(@member.id) %>
  </div>

  <div class="col-md-9">
    <h2>メンバー詳細</h2>
    <table class="table table-hover table-inverse">
      <tbody>
        <tr>
          <th>名前</th>
          <td><%= @member.name %></td>
        </tr>
        <tr>
          <th>なまえ</th>
          <td><%= @member.name_hiragana %></td>
        </tr>
        <tr>
          <th>写真</th>
          <td><%= image_tag @member.get_image(100, 100) %></td>
        </tr>
        <tr>
          <th>生年月日</th>
          <td><%= @member.birthday %></td>
        </tr>
        <tr>
          <th>ニックネーム</th>
          <td><%= @member.nickname %></td>
        </tr>
        <tr>
          <th>血液型</th>
          <td><%= @member.blood_type %></td>
        </tr>
        <tr>
          <th>担当カラー</th>
          <td><div class="btn btn-secondary" style="background-color:<%= @member.letter_color %>;"></div></td>
        </tr>
      </body>
    </table>
  </div>
</div>

<%= link_to "戻る", members_path %>

