<h1 class="my-5 d-flex justify-content-center"><i class="fa-solid fa-house mr-1"></i>写真一覧</h1>

<div class="row">
  <% @events.each do |event| %>
    <% event.images.each do |image| %>


      <div class="col-3">

        <%= link_to event_path (event.id) do %>
          <span><%= image_tag image.variant(gravity: :center, resize: "100x100^", crop: "100x100+0+0").processed, class: "my-2", style: "width:100%;" %></span>
        <% end %>
        <div class="d-flex justify-content-between">
          <span><%= event.member.nickname %></span>
          <span><%= l(event.created_at, format: :long) %></span>
        </div>
      </div>
    <% end %>
  <% end %>
</div>

<%= link_to "前のページへ", :back, class: "btn btn-lg btn-secondary mt-3" %>