<!DOCTYPE html>
<html>
  <head>
    <title>family_memories</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
      <%= csrf_meta_tags %>
      <%= csp_meta_tag %>
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
      <script src="https://kit.fontawesome.com/451923700e.js" crossorigin="anonymous"></script>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css" integrity="sha512-17EgCFERpgZKcm0j0fEq1YCJuyAWdz9KUtv1EjVuaOz8pDnh/0nZxmU6BBXwaaxqoi9PQXnRWqlcDB027hgv9A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css" integrity="sha512-yHknP1/AwR+yx26cB1y0cjvQUMvEa2PFzt1c9LlS4pRQ5NOTZFWbhBig+X9G9eYW/8m0/4OXNx8pxJ6z57x0dw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
      <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js" integrity="sha512-HGOnQO9+SP1V92SrtZfjqxxtLmVzqZpjFFekvzZVWoiASSQgSr4cw9Kqd2+l8Llp4Gm0G8GIFJ4ddwZilcdb8A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  </head>

  <body class="d-flex flex-column vh-100">
    <header class="header">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
          <a class="navbar-brand" href="/">
            <div class="haikei">
              <% if current_member %>
                ようこそ 『 <%= current_member.nickname %> 』
              <% end %>
                <span>family_memories へ</span>
            </div>
          </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                          aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
              <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav ml-auto">

                    <% if member_signed_in? %>

                      <%= link_to new_event_path, class:"nav-link text-light" do %>
                        <h8>新規イベント投稿</h8>
                      <% end %>

                      <%= link_to members_path, class:"nav-link text-light" do %>
                        <h8>メンバー一覧</h8>
                      <% end %>

                      <%= link_to events_path, class:"nav-link text-light" do %>
                        <h8>カレンダー一覧</h8>
                      <% end %>

                      <%= link_to gallerys_path, class:"nav-link text-light" do %>
                        <h8>画像一覧</h8>
                      <% end %>

                      <%= link_to destroy_member_session_path, method: :delete, class:"nav-link text-light" do %>
                        <h8>ログアウト</h8>
                      <% end %>

                    <% else %>

                      <%= link_to new_member_registration_path, class:"nav-link text-light" do %>
                        <h8>新規メンバー登録</h8>
                      <% end %>

                      <%= link_to new_member_session_path, class:"nav-link text-light" do %>
                        <h8>ログイン</h8>
                      <% end %>

                    <% end %>

                </ul>
              </div>
        </div>
      </nav>
    </header>
    <main>
      <div class="container">
        <%= render 'layouts/flash_messages' %>
        <%= yield %>
      </div>
    </main>

    <footer>
      <div class="container mt-5">
        <div class="row">
          <div class="mx-auto">
            <div class="haikei">
              <p>Copyright..</p>
            </div>
          </div>
        </div>
      </div>
    </footer>

  </body>
</html>
